
# Treat shell scripts as text and use LF
*.sh text eol=lf
*.py text eol=lf
*.sql text eol=lf
*.md text eol=lf

# Windows batch files use CRLF
*.bat text eol=crlf

# Mark image files as binary to avoid diffing
*.png binary
*.jpg binary
*.gif binary

*.pdf binary

*.ipynb text eol=lf

